@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
.logo {
  padding: 56px 56px 56px 56px;
  border-radius: 30%;
}
.titulo {
  padding-left: 10%;
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 30%;
}
.descripcion {
  padding-left: 10%;
  padding-top: 1%;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

.botones {
  padding-left: 50%;
  padding-top: 0.5%;
}
